<!doctype html>
<html lang="ko" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>우리가족지킴이</title>


  <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/features.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body class="d-flex h-100 text-center text-black white">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header>
    <div>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="http://124.60.219.83:8080">Home</a>
        <a class="nav-link active" aria-current="page" href="http://124.60.219.83:8080/features">Features</a>
        <a class="nav-link" href="http://124.60.219.83:8080/contact">Contact</a>
        <a class="nav-link" href="javascript:void(0)" onclick="kakaoLogin();">User</a>
      </nav>
    </div>
  </header>

  <hr class="featurette-divider" style="border:2px solid#878787; height: 2px !important; display: block !important; width: 100% !important;"/>
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading" style="font-weight:bolder; text-align: left;">로그인</h2>
      <br><br>
      <p class="lead" style="text-align: left">저희 앱은 누구나 쉽게 앱을 사용할 수 있는 것에 초점을 두어 개발을 하였습니다. <br> 그래서 어르신들은 어려워할 수도 있는 회원가입 과정을 생략하고 누구나 이용하고 있는 카카오를 사용하여 간편하게 로그인을 할 수 있게끔 카카오 로그인 기능을 제공하고 있습니다.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img alt="" src="/css/KakaoTalk_20221022_153155873_02.png" width="400" height="500">
    </div>
  </div>

  <hr class="featurette-divider" style="border:2px solid#878787; height: 2px !important; display: block !important; width: 100% !important;"/>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading" style="font-weight:bolder; text-align: left;">기기 등록</h2>
      <br>
      <p class="lead" style="text-align: left">
        <br>
        최대한 직관적으로 사람들이 앱을 사용할 수 있도록 ui를 구성하였고 기능 또한 사용하기 쉽도록 버튼을 세분화해서 제작을 하였습니다. 한명의 사용자가 여러 기기를 제어할 수 있도록 하였고 기기를 등록하는 순간 해당 기기에 대한 기능들을 제공받을 수 있습니다. 그리고 사용하지 않는 기기에 대해 기기 삭제를 통해서 제어권을 없앨 수도 있습니다.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img alt="" src="/css/KakaoTalk_20221022_153155873_01.png" width="400" height="500">
    </div>
  </div>

  <hr class="featurette-divider" style="border:2px solid#878787; height: 2px !important; display: block !important; width: 100% !important;"/>
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading" style="font-weight:bolder; text-align: left;">알람 설정</h2>
      <br>
      <p class="lead" style="text-align: left">
        저희 앱에서는 하루에 한번 알람을 설정할 수 있습니다. <br>
        알람을 설정함으로써 잊지않고 하루동안 노인분들의 이동기록을 확인할 수 있습니다.
        잠드는 시간에 알람을 설정해놓는다면 하루동안 노인분의 이동기록을 확인해서 움직임이 없다면 곧바로 연락을 취하는 등으로 노인분의 안전을 도모할 수 있습니다.
        페이지 하단에 세줄 아이콘을 누르면 바로 이동 기록과 배터리 잔량 등을 확인할 수 있습니다.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img alt="" src="/css/KakaoTalk_20221022_153155873_03.png" width="400" height="500">

    </div>
  </div>
  <hr class="featurette-divider" style="border:2px solid#878787; height: 2px !important; display: block !important; width: 100% !important;"/>

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading" style="font-weight:bolder; text-align: left;">움직임 감지</h2>
      <br>
      <p class="lead" style="text-align: left">
        아두이노 기기에 대한 정보, 움직임 감지 시간 등 모든 정보를 확인할 수 있는 페이지입니다.
        최근 20개의 움직임을 확인할 수 있고 하단에 새로고침 버튼을 통해서 새로운 움직임 정보를 불러올 수 있습니다.
        하단에 배터리 확인 버튼으로 두 기기의 배터리 잔량을 확인할 수 있고 전원 확인으로 현재 아두이노의 전원이 꺼져있는 지 켜져있는 지에 대한 정보를 알 수 있습니다.
        정보를 확인하고 알람 설정 페이지로 돌아가고 싶다면 하단에 뒤로가기 버튼을 눌러서 돌아갈 수 있습니다.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img alt="" src="/css/KakaoTalk_20221022_153155873.png" width="400" height="500">
    </div>
  </div>
  <hr>
  <footer class="mt-auto text-black">
    <p>Cover 2022, Gavengers Allrights reserved </p>
  </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
  Kakao.init('9277d84d6be1847891be44f1fc984517');
  console.log(Kakao.isInitialized());
  function kakaoLogin() {
    Kakao.Auth.login({
      success: function (response) {
        Kakao.API.request({
          url: '/v2/user/me',
          success: function (response) {
            console.log(response)
            location.href = 'http://124.60.219.83:8080/user'
          },
          fail: function (error) {
            console.log(error)
          },
        })
      },
      fail: function (error) {
        console.log(error)
      },
    })
  }
</script>